<div class="row login-container">

  <mat-card class="login-card">

    <div class="login-options" style="text-align: center;" *ngIf="showMainScreen">
      <div>
        <img style="width: 100px;" src="/assets/logo.png" />
        <mat-card-title style="    color: #03afef">Login</mat-card-title>
      </div>
      <br />
      <button (click)="signinByGoogle()" class="login-button" mat-raised-button color="warn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
        </svg>
        Login With Google
      </button>
      <button class="login-button" mat-raised-button (click)="signinByFacebook()" color="primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
        </svg>
        Login With Facebook
      </button>
      <!-- <button class="login-button" mat-raised-button (click)="signinByMicrosoft()" style="background:black;color:white">
        <mat-icon role="img" aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="auth_service_mslive_24dp"
          data-mat-icon-namespace="firebase">
          <svg class="login-icon" height="100%" viewBox="0 0 20 20" width="100%" fit=""
            preserveAspectRatio="xMidYMid meet" focusable="false">
            <g fill="none">
              <path d="M0 0h9.504v9.504H0z" fill="#F25022"></path>
              <path d="M10.496 0H20v9.504h-9.504z" fill="#7FBA00"></path>
              <path d="M0 10.496h9.504V20H0z" fill="#00A4EF"></path>
              <path d="M10.496 10.496H20V20h-9.504z" fill="#FFB900"></path>
            </g>
          </svg></mat-icon>
        Login With Microsoft
      </button> -->

      <button mat-raised-button (click)="signinByTwitter()" class="login-button"
        style="color: white;background:#64ccf1">
        <mat-icon>
          <svg class="login-icon" height="100%" viewBox="0 0 20 20" width="100%" fit=""
            preserveAspectRatio="xMidYMid meet" focusable="false">
            <path
              d="M20 3.924a8.212 8.212 0 01-2.357.646 4.111 4.111 0 001.804-2.27c-.792.47-1.67.812-2.605.996A4.103 4.103 0 009.85 7.038a11.645 11.645 0 01-8.458-4.287 4.118 4.118 0 00-.555 2.066 4.1 4.1 0 001.825 3.415 4.074 4.074 0 01-1.858-.513v.052a4.105 4.105 0 003.29 4.022 4.01 4.01 0 01-1.852.072 4.106 4.106 0 003.833 2.85A8.268 8.268 0 010 16.411a11.602 11.602 0 006.29 1.846c7.547 0 11.674-6.253 11.674-11.675 0-.18-.004-.355-.01-.53.8-.58 1.496-1.3 2.046-2.125"
              fill="#ffffff" fill-rule="evenodd"></path>
          </svg>
        </mat-icon>
        Login With Twitter
      </button>
      <!-- <button mat-raised-button (click)="signinByOtp()" class="login-button" color="accent">
        <mat-icon>perm_phone_msg</mat-icon>
        Login Using OTP
      </button> -->
    </div>
    <!-- <div class="mobile-login" *ngIf="showMobileScreen">
      <mat-card-title>Login using otp</mat-card-title>
      <mat-divider></mat-divider>
      <br />
      <form class="example-form" #f="ngForm">
        <mat-form-field class="example-full-width">
          <mat-label>Mobile number</mat-label>
          <span matPrefix>+91 &nbsp;</span>
          <input name="mobileNumber" #mobile="ngModel" ngModel autofocus autocomplete="off" inputmode="tel" type="tel"
            matInput max="10" maxlength="10">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="sendOtp(mobile.value)">Send OTP</button>
        <button mat-raised-button (click)="back">Cancel</button>
      </form>
    </div> -->
    <div *ngIf="showProgressScreen">
      <mat-spinner></mat-spinner>
    </div>

    <div style="position:relative;z-index:10;width:100%;margin-top:2em;margin-left:2em;margin-right:auto;">
      <div id="recaptcha-container"></div>
    </div>
  </mat-card>


</div>
