<div class="container">
  <div class="card home-container">
    <div style="display: flex;">
      <div class="home-container side-bar" [ngClass]="{'hide-screen':isMessageUrl ,'full-width' : !isMessageUrl}">

        <div class="top-bar">
          <div>
            <img class="user-small-img" [src]="imageUrl" />

          </div>
          <p class="user-name">
            {{userName}}
          </p>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button (click)='logout()' mat-menu-item>
                <mat-icon>power_settings_new</mat-icon>
                <span>Logout</span>
              </button>

            </mat-menu>
          </div>

        </div>
        <div class="top-bar">
          <button mat-icon-button *ngIf="searchResult" (click)="hideSearch()">
            <mat-icon>keyboard_backspace</mat-icon>
          </button>
          <input class="form-control search-box" name="searchKey" [(ngModel)]="searchKey" autocomplete="off"
            placeholder="Search" (input)="searchContact()" />
        </div>
        <!-- Side bar content -->
        <div *ngIf="searchResult else contactList">
          <div *ngFor="let contact of searchResult">
            <div class="contact-box" (click)="selectUser(contact)">
              <img class="user-small-img" [src]="contact.photoURL" style="margin: 10px;" />
              <div style="width: 76%;">
                <span>
                  {{contact.displayName|titlecase}}
                </span><br />
                <span class="content-text">
                  {{contact.email}}
                </span>
              </div>
              <mat-divider></mat-divider>

            </div>

          </div>

        </div>
        <ng-template #contactList>
          <app-contacts [showUserMessageFn]="selectUser"></app-contacts>
        </ng-template>
      </div>
      <mat-divider [vertical]="true"></mat-divider>

      <div id="message-screen" class="right-bar" [ngClass]="{'hide-screen':!isMessageUrl ,'full-width' : isMessageUrl}"
        *ngIf="currentUser else emptyScreen">
        <div class=" top-bar">
          <button [ngClass]="{'show-back':isMessageUrl}" class="hide-back" mat-icon-button (click)="back()">
            <mat-icon>keyboard_backspace</mat-icon>
          </button>
          <div>
            <img class="user-small-img" [src]="currentUser.photoURL" />

          </div>
          <p class="user-name">
            {{currentUser.displayName|titlecase}}
          </p>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="messageMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #messageMenu="matMenu">
              <button (click)='clearChat()' mat-menu-item>
                <mat-icon>delete_forever</mat-icon>
                <span>Clear Chat</span>
              </button>

            </mat-menu>
          </div>

        </div>
        <app-message *ngIf="currentUser" [user]="currentUser">
        </app-message>
      </div>
      <ng-template #emptyScreen></ng-template>
    </div>
  </div>
  <div id="mobile-view" class="hide-back show-back"></div>
</div>
