.home-container {
  height: 98vh;
}
.side-bar {
  width: 30%;
}

.search-box {
  margin: 10px;
  width: 90%;
  border-radius: 17px;
}
.user-name {
  flex-grow: 1;
  margin-top: 10px;
  margin-left: 5px;
}
.hide-back {
  display: none;
}
@media screen and (max-width: 992px) {
  .hide-screen {
    display: none;
  }
  .full-width {
    width: 100%;
  }
  .show-back {
    display: block;
  }
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  .home-container {
    height: 100vh;
  }
}
