.home-container {
  height: 98vh;
}
.side-bar {
  width: 30%;
}

.search-box {
  margin: 10px;
  width: 90%;
  border-radius: 17px;
}
.user-name {
  flex-grow: 1;
  margin-top: 10px;
  margin-left: 5px;
}
