/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html,
body {
  height: 100%;
  background-color: #dddbd1;
  background-image: linear-gradient(180deg, #dddbd1, #d2dbdc);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.top-bar {
  background: #ededed;
  position: relative;
  z-index: 1000;
  box-sizing: border-box;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 59px;
  padding: 10px;
}
.right-bar {
  width: 70%;
}
.contact-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.contact-box:hover {
  background: #8080801c;
}
.user-small-img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.content-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
